html {
  background-color: black;
}
img {
  border: 5px solid white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: 50%;
}
h1 {
  color: white;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 3rem;
}
p {
  color: white;
  text-align: center;
}
